<% provide(:title, 'Edit Profile' ) %>

<div id='users-edit'>
  <h1>- プロフィール編集 -</h1>

  <%= form_with model: @user, local: true do |f| %>
    <%= render 'shared/errors_messages', object: f.object %>
    <div class='form-group'>
      <%= f.label :image, 'アイコン:', class: 'form-label' %>
      <%= f.file_field :image, class: 'form-control' %> 
    </div>
    <div class='form-group'>
      <%= f.label :name, 'ユーザー名:', class: 'form-label'%>
      <%= f.text_field :name, class: 'form-control', id: 'user_name' %>
    </div>
    <div class='form-group'>
      <%= f.label :profile, 'プロフィール(400字以内):', class: 'form-label' %>
      <%= f.text_area :profile, class: 'form-control', id: 'user_profile' %>
    </div>
    <%= f.submit 'プロフィール更新', class: 'btn btn-dark' %>
  <% end %>
</div>
