<h1>アカウント編集</h1>

<%= form_with model: @user, local: true do |f| %>
  <%= render 'shared/errors_messages' %>

  <div class='form-group'>
    <%= f.text_field :name, placeholder: 'ユーザー名', class: 'form-control', id: 'user_name' %>
  </div>
  <div class='form-group'>
    <%= f.text_area :profile, placeholder: 'プロフィール', class: 'form-control', id: 'user_profile' %>
  </div>
  <%= f.submit 'ユーザー更新', class: 'btn btn-success' %>
  <%= link_to 'ユーザー削除', @user, method: :delete, data: { confirm: 'アカウントを削除します。よろしいですか？' }, class: 'btn btn-danger' %>
<% end %>
