<% provide(:title, 'User index') %>
<div id='users-index'>
  <h1>- Motions ユーザー -</h1>
  <table class="table user-1ea">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th>
            <div class='user-img'>
              <%= image_tag user.avatar if user.avatar.attached? %>
            </div>
          </th>
          <td class='user-name'><%= user.name %></td>
          <td class='user-profile'>
            <% unless user.profile.nil? %>
              <p><%= user.profile.user_profile %></p>
            <% else %>
              <p></p>
            <% end %>
          </td>
          <td><%= link_to '詳細', user_path(user), class: 'btn' %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>
