<% provide(:title, 'User Page') %>

<div id='users-show'>
  <h1>- [ <%= @user.name %> ] -</h1>

  <div class='show-content'>
    <div class='show-left-side'>
      <div class='profile-img'><%= image_tag @user.image if @user.image.attached? %></div>
      <p class='user-name'><%= @user.name %></p>
      <p class='user-profile'><%= @user.profile %></p>
      <% if @user == current_user %>
        <%= link_to '設定', setting_user_path(@user), class: 'show-setting' %>
        <div class='show-link'>
          <%= link_to 'プロフィール編集', edit_user_path(@user), class: 'show-setting' %>
          <%= link_to 'ユーザー削除', @user, method: :delete, data: { confirm: 'アカウントを削除します。よろしいですか？' }, class: 'show-setting' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='show-right-side'>
    <table class="table">
      <thead>
        <tr>
          <th>トレーニング日</th>
          <th>トレーニング内容</th>
        </tr>
      </thead>
      <tbody>
        <% @logs.each do |log| %>
          <tr>
            <td><%= link_to log.training_day, log_path(log) %></td>
            <td><%= link_to log.training_menu, log_path(log) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
