<%= form_with model: @log, local: true do |f| %>
  <%= render 'shared/errors_messages', object: f.object  %>
  <div class='form-group'>
    <%= f.label :training_day, '日付:', class: 'form-label' %>
    <%= f.date_field :training_day,value: Time.now.strftime("%Y-%m-%d"), class: 'col-md-2', id: 'training_day' %>
  </div>
  <div class='form-group'>
    <%= f.label :training_title, 'トレーニング部位:', class: 'form-label' %>
    <%= f.text_field :training_title, class: 'form-control col-md-4', id: 'training_title' %>
  </div>
  <div class='training-menu'>
    <h4>トレーニング内容:</h4>
    <%= f.fields_for :menus do |m| %>
      <%= render 'menu_fields', f: m  %>
    <% end %>
    <div id="links">
      <%= link_to_add_association '追加',f, :menus, class: 'btn' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :comment, 'コメント:', class: 'form-label' %>
    <%= f.text_field :comment, class: 'form-control', id: 'comment' %>
  </div>
  <%= f.submit '投稿', class: 'btn btn-dark' %>
<% end %>
