<!DOCTYPE html>
<html>
  <head>
    <title>Traininglog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='navbar navbar-fixed-top navbar-inverse'>
      <div class='container'>
        <%= link_to 'トレログ', root_path, id: 'logo' %>
        <nav>
          <ul class='nav nav-bar-nav navbar-right'>
            <li><%= link_to 'ログイン', '#' %></li>
            <li><%= form_with(url: users_path, method: :get, local: true) do |f| %>
              <%= f.search_field :search, placeholder: 'ユーザー検索', class: 'search-field', id: 'user_search' %>
              <% f.submit %>
            <% end %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class='container'>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
        <%= yield %>
    </div>
  </body>
</html>
